extends jqmobile

block page_scripts
  script(src='javascripts/uiIntel.js')

block content
  div(data-role='page')
    div(data-role='header', data-theme='b')
      h1(class="studentName") Intelliseats 
      | <a href="/" data-icon="home" class="ui-btn-left">Home</a>
      // if token then logout else login
      - if (validSession==='true')
        | <a href="/logout" rel="external" data-ajax="false" data-icon="grid" class="ui-btn-right">Logout</a>
      - else
        | <a href="/login" rel="external" data-ajax="false" data-icon="grid" class="ui-btn-right">Login</a>

    div(data-role='content', data-theme='b')
      div
        h2 Welcome back, #{displayName}!
        form(id="seatForm", method="post", action="/students")
          div(style="float:left")
            select(name="sectionId", onChange="this.form.submit();")
              - each section in sections
                - var isSelectedSection = selectedSection==section.id ? 'true' : null;
                  option(value="#{section.id}", selected=isSelectedSection ) #{section.uniqueSectionCode}
          div(style="float:left")
            select(name="SeatType", data-inline="true")
              option(value="Desk") Desk 
              option(value="Tables") Tables 
          div(style="float:left")
            select(name="SeatFlow", data-inline="true")
              option(value="Grid") Grid
              option(value="Circle") Circle
              option(value="Semi-Circle") Semi-Circle
          div(style="float:left")
            select(name="SeatTypeSize", data-inline="true")
              option(value="4") 4 Wide 
              option(value="5") 5 Wide 
          div(style="float:left;margin-left:5px")
            input(type="hidden", id="data", name="data", value="")
            button(value="Save Seats", onClick="showSeatingOrder()",style="float:right")
      | <br /><br /><br /><br />
      ul#seatingChart
        - each student, index in students
          li(id="#{student.id}", name="#{student.id}", class="ui-state-default ui-shadow #{student.overallStatus}Student", data-shadow="true")
            h3(class="studentName") #{student.name.firstName} #{student.name.lastSurname}

