extends jqmobile

block content
  div(data-role='page')
    div(data-role='header', data-theme='b')
      h1(class="studentname") Intelliseats 
      | <a href="/" data-icon="home" class="ui-btn-left">Home</a>
      // if token then logout else login
      - if (validSession==='true')
        | <a href="/logout" rel="external" data-ajax="false" data-icon="grid" class="ui-btn-right">Logout</a>
      - else
        | <a href="/login" rel="external" data-ajax="false" data-icon="grid" class="ui-btn-right">Login</a>

    div(data-role='content', data-theme='b')
      h2 Welcome back #{displayName}
      
      // each student
      ul#sortable
        each student, index in students
          - if (student.studentUniqueStateId % 2 == 0)
            | <li class="ui-state-default ui-shadow badstudent">
            h3(class="studentname") #{student.name.firstName} #{student.name.lastSurname}
            img(src="/images/noun_project_3247.svg", class="icon")
            | </li>
          - else if (student.name.firstName === "Felipe" || student.name.firstName === "Dominic")
            | <li class="ui-state-default ui-shadow warningstudent">
            h3(class="studentname") #{student.name.firstName} #{student.name.lastSurname}
            img(src="/images/noun_project_3247.svg", class="icon")
            img(src="/images/noun_project_1260.svg", style="width:25px;height:25px;")
            | </li>
          - else
            | <li id="sortable" class="ui-state-default ui-shadow goodstudent" data-shadow="true">
            h3(class="studentname") #{student.name.firstName} #{student.name.lastSurname}
            img(src="/images/noun_project_3247.svg", class="icon")
            img(src="/images/noun_project_640.svg", class="icon")
            | </li>

      // put some jqmobile stuff here

